# Dependencies
node_modules/
**/node_modules/

# Build outputs
frontend/dist/
frontend/.vite/
backend/.env
frontend/.env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Kubernetes local state
*.local
